/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #444;
    color: white;
  }
  
  .site-name {
    font-size: 2rem;
  }
  
  .login-icon img {
    width: 30px;
    height: 30px;
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .site-name {
      margin-bottom: 10px;
    }
  }
  